:root {
    --text-primary: #1F2937;
    --text-secondary: #6B7280;
    --text-white: #FFFFFF;

    --background: #F8F9FA;

    --color-primary: #8B328C;
    --color-primary-dark: #6F256F;
    --color-primary-light: #F5EAF5;
}